# {{ ansible_managed }}
# https://github.com/roles-ansible/ansible_role_acmetool.git
#
# reload hook configuration file
# adding the service to the list of services to be reloaded by acmetool.
{% set services = ['$SERVICES'] %}
{% for service in acme_reload_services %}
{%     set _ = services.append(service) %}
{% endfor %}
{% set services_string = services | join(' ') %}
SERVICES="{{ services_string }}"
