[Unit]
Description = Update Let's Encrypt certificates

[Service]
ExecStart = /usr/bin/acmetool --batch reconcile

#User = acme
#Group = acme

PrivateTmp = True
PrivateDevices = True
ProtectSystem = True
ProtectHome = True
NoNewPrivileges = True
